<!doctype html>

<head>
    <!-- Google Fonts -->
    <link rel="stylesheet" href="{{ url_for('static', filename='font.css') }}">
    <!-- CSS Reset -->
    <link rel="stylesheet" href="{{ url_for('static', filename='normalize.css') }}">
    <!-- Milligram CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='milligram.css') }}">
    <!-- Microtip -->
    <link rel="stylesheet" href="{{ url_for('static', filename='microtip.min.css') }}">

    <title>HADA (demo)</title>

    <style>
        div.hidden {
            display: none;
        }

        div.center {
            margin-left: auto;
            margin-right: auto;
        }

        .column {
            align-self: baseline;
        }
    </style>

    <script>
        //Show prices form
        show_prices = () => {document.querySelector('#prices_form').style.display='block'}
        //Hide prices form
        hide_prices = () => {document.querySelector('#prices_form').style.display='none'}
        
        //Handles when to show the prices form
        prices_form_handler = () => {
            price_value = document.getElementById('constraint_price');
            target = document.querySelector('#target');

            if (price_value.value.length > 0 || target.value == 'price')
                show_prices();
            else
                hide_prices();
        }

        ////Show file upload elements
        //show_upload = () => {document.querySelector('#upload_elements').style.display='block'}
        ////Hide file upload elements
        //hide_upload = () => {document.querySelector('#upload_elements').style.display='none'}

        //Handles when to show the upload elements
        //upload_elements_handler = () => {
        //    upload_checkbox = document.querySelector('#upload_checkbox');
        //    if (upload_checkbox.checked)
        //        show_upload();
        //    else 
        //        hide_upload();
        //}

        window.onload = function() {
            dropdown = document.querySelector('#algorithm');
            price_constraint = document.querySelector('#constraint_price');
            target = document.querySelector('#target');
            upload_checkbox = document.querySelector('#upload_checkbox');

            //Algorithm menu and checkbox handler
            submit_algo_change = function() {
                const form = document.querySelector('#select_algorithm_form');
                form.submit();}

            dropdown.addEventListener('change', submit_algo_change);
            upload_checkbox.addEventListener('change', submit_algo_change);
        
            // Handling prices form
            target.addEventListener('change', prices_form_handler);
            price_constraint.addEventListener('input', prices_form_handler);

            // Handling upload elements
            //upload_checkbox.addEventListener('change', upload_elements_handler);
        };
    </script>



</head>

<body>
    <div class="container">
        <div class="row">
            <h3>HADA (demo)</h3>
        </div>

            <div class="row">
                <div class="column column-100">
                    <form action="/" method="POST" id="select_algorithm_form">
                        <input value = "select_algo" type="hidden" name="form_id">
                        <label class="label-inline">Algorithm</label>
                        <select name="algorithm" id="algorithm">
                            {% for algo in algorithms %}
                            <option value="{{algo}}" {% if algo==selected_algo %}selected{% endif %}>{{algo}}</option>
                            {% endfor %}
                        </select>
                    <label class="label-inline">Input-dependent </label>
                    <input type="checkbox" id="upload_checkbox" name="upload_checkbox" {% if input_dependent %}checked{% endif %}/> 
                    <!-- the checkbox is in the algorithm seelction form; the file upload component in the optimization request form -->
                    </form>
        <form action="/" method="POST" id="optimization_request_form">
                    <div {% if not input_dependent %}class="hidden"{% endif %} id="upload_elements">
                        <label class="label-inline">Input file</label>
                        <input type="file" id="fileUpload" name="fileUpload">
                    </div>
                </div>
            </div>

        <input value="optimize" type="hidden" name="form_id">
            <div class="row">
                <div class="column column-50">
                    <label class="label-inline">Target</label>
                    <select name="target" id="target">
                        {% for target in targets %}
                        <option value="{{target}}">{{target}}</option>
                        {% endfor %}
                    </select>
                    <label class="label-inline">minimize</label>
                    <input type="radio" name="objective_type" id="min" value="min" checked />
                    <label class="label-inline">maximize</label>
                    <input type="radio" name="objective_type" id="max" value="max" />
                    <br />
                </div>

                <div class="column column-50">
                    <label class="label-inline">Robustness factor</label>
                    <input type="text" name="robust_factor" id="robust_factor" placeholder="None">
                </div>
            </div>

            <!--<div class="row">
                <div class="column column-100">
                    <br />
                </div>
            </div>-->

            <div class="row">
                <h4>Constraints</h4>
            </div>

            {% for target in targets %}
            <div class="row">
                <div class="column column-15">
                    <label class="label-inline">
                        {{target.capitalize()}}
                        {% if target in description_per_var.keys() and description_per_var[target] %}
                        <sup role="tooltip" data-microtip-position="top" aria-label="{{description_per_var[target]}}">?</sup>
                        {% endif %}
                    </label>
                </div>
                <div class="column column-10">
                    <select name="constraint_{{target}}_type" id="constraint_{{target}}_type">
                        <option value="leq">&#8804;</option>
                        <option value="eq">=</option>
                        <option value="geq">&#8805;</option>
                    </select>
                </div>
                <div class="column column-75">
                    {% if target|lower=='price' %}
                    <input type="text" name="constraint_{{target}}" id="constraint_{{target}}" placeholder="">
                    {% else %}
                    <input type="text" name="constraint_{{target}}" id="constraint_{{target}}" placeholder="[{{lb_per_var[target]}},{{ub_per_var[target]}}]">
                    {% endif %}
                </div>
                </br>
            </div>
            {% endfor %}

            <div id="prices_form" class="hidden">
                <div class="row">
                    <h4>Prices</h4>
                    <br/>
                </div>

                <p><b>Disclaimer</b>: prices for the hardware platforms are relevant only if the price is constrainted and/or the target of the optimization.</p>
                {% for hw, price in price_per_hw.items() %}
                <div class="row">
                    <div class="column column-10">
                        <label class="label-inline">{{hw}}</label><br />
                    </div>
                    <div class="column column-90">
                        <input type="text" name="price_{{hw}}" id="price_{{hw}}" value="{{price if price else ''}}"><br />
                    </div>
                </div>
                {% endfor %}
            </div>

            <div class="row">
                <div class="center">
                    <input class="button" type="submit" id="submit" name="submit" value="Optimize" />
                </div>
            </div>
        </form>
        <!--{% if out %}
        {{out}}
        {% endif %}-->

        {% if out %}
        {% if out is string %}
        <div class="row">
            <h4>{{out}}</h4>
        </div>
        {% else %}
        <div class="row">
            <h4>Solution</h4>
        </div>

        <div class="row">
            <div class="center">
                <table>
                    <thead>
                        <tr>
                            {% for k in out.keys() %}
                            <th>
                            {{k}}
                            {% if k in description_per_var.keys() and description_per_var[k] %}
                            <sup role="tooltip" data-microtip-position="top" aria-label="{{description_per_var[k]}}">?</sup>
                            {% endif %}
                            </th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            {% for v in out.values() %}
                            <td>{{v}}</td>
                            {% endfor %}
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        {% endif %}
        {% endif %}
</body>

</html>